/* 코트 예약 페이지 */

/* 효과 관련 */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeIn 0.5s forwards;
}

.fade-out {
    animation: fadeOut 0.5s forwards;
    display: none;
}


#All_Court {
    width: 100%;
    height: 100%;
}

    /* 로고 헤더 */
    #All_Court #Logo_header {
        z-index: 10 !important;
    }
    /* 필터 헤더 */
    #All_Court .All_Court_hd {
        width: 100%;
        height: 40px;
        background-color: #77b850;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 10;
    }
        /* 필터 헤더 묶음 */
        .All_Court_hd .All_Court_hd_warp {
            width: 80%;
            height: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            z-index: 10;
        }
            /* 필터 헤더 텍스트 */
            #All_Court .All_Court_hd h3 {
                font-weight: 500;
                font-size: 0.8em;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
                width: 85px;
                height: 25px;
                border-radius: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #f5f5f5;
                color: #f5f5f5;
                cursor: pointer;
            }

                /* 필터 관련 */
                .All_Court_hd .court_filter_select {
                    position: absolute;
                    width: 100%;
                    height: 226px;
                    bottom: -226px;
                    background-color: #77B850;
                    z-index: 8;
                    color: #f5f5f5;
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
                }

                    .All_Court_hd .court_filter_select > div:nth-of-type(1) {
                        height: 20%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: "BinggraeMelona-bold";
                        border-top: 1px solid #f5f5f5;

                    }

                    .All_Court_hd .court_filter_select > div:nth-of-type(2) {
                        width: 100%;
                        height: 60%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                        .All_Court_hd .court_filter_select > div:nth-of-type(2) > div {
                            width: 80%;
                            height: 100%;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            column-gap: 17px;
                            row-gap: 12px;
                        }

                            .All_Court_hd .court_filter_select > div:nth-of-type(2) > div button {
                                width: 90px;
                                height: 35px;
                                border: none;
                                background: none;
                                border: 1px solid #f5f5f5;
                                border-radius: 5px;
                                color: #f5f5f5;
                                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
                                font-weight: 500;
                            }

                    .All_Court_hd .court_filter_select > div:nth-of-type(3) {
                        font-family: 'BinggraeSamanco';
                        color: #eee;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 20%;
                        width: 100%;
                    }
    /* 코트 예약 메인 */
    .All_Court_main{
        height: calc(100% - 170px);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: auto;
        position: relative;
    }
        /* 포폴 관련 txt */
        .portfolio_tx{
            position: fixed;
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
            color: #f5f5f5;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.10);
            font-size: 0.75em;
            pointer-events: none;
            width: 100%;
            text-align: center;
        }
    /* 코트 예약 메인 스크롤 스타일 */
    .All_Court_main::-webkit-scrollbar {
        background-color: white;
        box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
        width: 5px;  
    }
    
    .All_Court_main::-webkit-scrollbar-thumb {
        background: #77B850; /* 스크롤바 색상 */
        border-radius: 20px; /* 스크롤바 둥근 테두리 */
        height: 30%;
    }
        /* 코트 예약 메인 묶음 */
        .All_Court_main > div{
            width: 90%;
            height: 100%;
            margin: 0 auto;
            
        }
            /* 코트 예약 메인 컨텐츠들 */
            .All_Court_main_warp .court_box{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 200px;
                margin-top: 20px;
                margin-bottom: 20px;
                cursor: pointer;
            }
                /* 코트 예약 메인 컨텐츠 이미지 배경 */
                .All_Court_main_warp .court_box > img:nth-of-type(1){
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
                    filter: brightness(0.85);
                }
                /* 코트 예약 메인 컨텐츠 이미지 테니스남 */
                .All_Court_main_warp .court_box .white_tennis_man{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
                /* 코트 예약 메인 컨텐츠 묶음 관련*/
                .court_box_warp{
                    width: 90%;
                    height: 80%;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                    .court_box_warp .court_box_warp_top span{
                        border: 1px solid #f5f5f5;
                        padding: 0% 3%;
                        margin-left: 1.8%;
                        border-radius: 10px;
                        font-family: 'BinggraeSamanco';
                        color: #f5f5f5;
                        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.10);
                        font-size: 0.95em;
                    }
                    .court_box_warp_center h2{
                        font-size: 1.2em;
                        color: #f5f5f5;
                        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
                        margin-bottom: 2px
                    
                    }
                    .court_box_warp_center p{
                        font-size: 0.8em;
                        color: #e0e0e0;
                        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                    }
                    .court_box_warp_bt{
                        display: flex;
                        font-family: 'BinggraeSamanco';
                        color: #f5f5f5;
                        align-items: center;
                        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                    }
                        .court_box_warp_bt span{
                            margin: 0px 7px;
                        }

                .no_courts_message{
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 200px;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        cursor: pointer;
                        flex-direction: column;
                        border-radius: 15px;
                        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
                        background-color: #EEEEEE;
                    }

                    .no_courts_message img{
                        width: 110px;
                        filter: drop-shadow(1px 1px 1px rgba(0,0,0,.25))
                    }
            
                        .no_courts_message h3 {
                            font-family: "Binggrae";
                            font-size: 0.9em;
                            color: #989898;
                            margin: 1.5% 0%;
                        }
        
        
        
        

    

