/* 아이디ㆍ비밀번호 찾기 페이지 */

#Match_login_forgot{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
    /* 배경 이미지 */
    #Match_login_forgot > img{
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        position: absolute;
        filter: brightness(0.5);
        z-index: -1;
    }
    /* 전체 묶음 */
    .Match_login_forgot_warp{
        width: 70%;
        height: 90%;
       
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

     /* 이동 버튼 빼고 묶음 */
    .Match_login_forgot_warp .Match_login_forgot_warp_inner{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        z-index: 10;
        flex-direction: column;
    }

        /* 아이디ㆍ비밀번호 찾기 탭 */

        #Match_login_forgot .tabs {
            display: flex;
            justify-content: center;
            margin: 15px 0;
            width: 100%;
        }
    
            #Match_login_forgot .tab {
                width: 50%;
                padding: 10px 0px;
                cursor: pointer;
                border: none;
                background-color: #f0f0f0;
                border-bottom: 2px solid transparent;
                color: #77B850;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
            }
                #Match_login_forgot .tab:nth-of-type(1){
                    border-radius: 50px 0px 0px 50px;
                }
                #Match_login_forgot .tab:nth-of-type(2){
                    border-radius: 0 50px 50px 0px;
                }
            /* 아이디ㆍ비밀번호 찾기 탭 활성화 */
            #Match_login_forgot .tab.active {
                background-color: #77B850;
                font-weight: bold;
                color: #f5f5f5;
            }
                /* 아이디ㆍ비밀번호 찾기 탭 컨텐츠 */
                #Match_login_forgot .tab-content {
                    padding: 15px;
                    background-color: #ffffff;
                    border-radius: 10px;
                    border: 2px solid #5C9639;
                }
                     /* 아이디ㆍ비밀번호 찾기 탭 컨텐츠 인풋 그룹 */
                    #Match_login_forgot .input-group {
                        position: relative;
                        margin-bottom: 15px;
                    }
    
                        /* 아이디ㆍ비밀번호 찾기 버튼 */
                        .Match_login_forgot_warp_inner button.tab{
                            cursor: pointer;
                        }
                        .Match_login_forgot_warp_inner button[type="submit"] {
                            width: 100%;
                            padding: 10px 0px;
                            background-color: #77B850;
                            color: #ffffff;
                            border: none;
                            border-radius: 5px;
                            cursor: pointer;
                        }
    

    /* 아이디ㆍ비밀번호 찾기 입력창 */
    .Match_login_forgot_warp .Match_login_forgot_warp_inner input{
        background-color: white;
        border: 1.5px solid  #5C9639;
        border-radius: 30px;
        width: 100%; height: 48px;
        padding-left: 40px;
        padding-right: 40px;
        width: calc(100% - 80px);
        color: #666;
        font-size: 0.85em;
        position: relative;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
        outline: none;
    }
        /* 아이디ㆍ비밀번호 찾기 입력창 플레이스홀더 */
        .Match_login_forgot_warp .Match_login_forgot_warp_inner input::placeholder{
            color: #999;
        }
        /* 아이디ㆍ비밀번호 찾기 입력창 플레이스홀더 포커스 */
        .Match_login_forgot_warp .Match_login_forgot_warp_inner input:focus{
            outline: none;
            border: 1.5px solid #77B850;
        }
        /* 아이디ㆍ비밀번호 찾기 입력창 왼쪽 아이콘 */
        .Match_login_forgot_warp .Match_login_forgot_warp_inner .input-group img:nth-of-type(1){
            position: absolute;
            left: 5px;
            z-index: 1;
            width: 30px;
            height: 30px;
            top: 50%; left: 10px; transform: translateY(-50%);
        }

        .Match_login_forgot_warp .Match_login_forgot_warp_inner form p{
            margin-left: 20px;
            margin: 10px;
            font-size: 0.8em;
            transition: opacity 0.3s ease, transform 0.3s ease;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
            opacity: 1;
            transform: scale(1);
        }
     /* 찾기 팝업 */
    .Match_login_forgot_popup{
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        width: 264px; height: 264px;
        background-color: white;
        border-radius: 30px;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Match_login_forgot_popup .BackArrow{
        font-size: 0.6em;
        color: #111;
        font-family: 'BinggraeMelona-Bold';
    }

    .Match_login_forgot_popup .BackArrow span{
        font-size: 1.5em;
    }
        /* 찾기 팝업 warp */
        .Match_login_forgot_popup > div{
            width: 80%; height: 80%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            position: relative;
        }
        /* 찾기 팝업 arrow css */
        .Match_login_forgot_popup > div > .BackArrow,
        .Match_login_forgot_popup > div > .Refind,
        .Match_login_forgot_popup > div > .FindPw{
            font-size: 0.6em;
            color: #111;
            font-family: 'BinggraeMelona-Bold';
        }

            .Match_login_forgot_popup > div > .BackArrow span,
            .Match_login_forgot_popup > div > .Refind span,
            .Match_login_forgot_popup > div > .FindPw span{
                font-size: 1.5em;
                
                
            }
            
        /* 찾기 팝업 이미지 */
        .Match_login_forgot_popup > div > img{
            margin: 15% 0% 5% 0%;
        }
            .Match_login_forgot_popup img{
                transition: 1s ease;
                transform: perspective(600px) rotateY(180deg);
            }
            .Match_login_forgot_popup img.rotate {
                transition: 1s ease;
                transform: perspective(600px) rotateY(0deg);
            }
        /* 찾기 팝업 글씨 */
        .Match_login_forgot_popup > div > p{
            font-family: 'BinggraeSamanco';
            text-align: center;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.10);
        }

        .Match_login_forgot_popup_id_find .popup_id_find_inner p span,
        .Match_login_forgot_popup_pw_find .popup_pw_find_inner p span{
            font-family: 'BinggraeSamanco';
        }
        .Match_login_forgot_popup_id_find .popup_id_find_inner p em,
        .Match_login_forgot_popup_pw_find .popup_pw_find_inner p em{
            font-style: normal;
            color: #77B850;
            font-family: 'BinggraeSamanco';
            font-size: 1.2em;
        }

        

        /* 리엑트 데이트피커 커스터마이징 css */
        .react-datepicker__month-container{
            z-index: 100 !important;
        }
            .react-datepicker__header{
                background-color: #77B850 !important;
                z-index: 100 !important;
            }
                .react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header{
                    color: #f5f5f5 !important;
                }
                .react-datepicker__month-select,.react-datepicker__year-select{
                    border-radius: 15px
                }
                .react-datepicker__day-name{
                    color: #f5f5f5 !important;
                }
                .react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range{background-color: #77B850 !important;}
                .react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected{background-color: #77B850 !important; color: #f5f5f5 !important;}
        
        
            